<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Filmothèque</title>
    <link rel="stylesheet" th:href="@{/css/general.css}">
    <link rel="stylesheet" th:href="@{/css/general.css}">
    <link rel="icon" data-th-href="@{/images/logoENI.png}">
</head>
<body>
<header>
    <h1 id="nav-title">
        <a th:href="@{/}">Filmothèque</a>
    </h1>
    <nav>
        <div>
            <div sec:authorize="isAuthenticated()">
                Connecté en tant que <span sec:authentication="name"></span> —
                <a href="/logout">Déconnexion</a>
            </div>

            <div sec:authorize="!isAuthenticated()">
                <a href="/login">Connexion</a>
            </div>
        </div>

        <ul>
            <li><a th:href="@{/films}">Films</a></li>
            <li><a th:href="@{/films/creer}">Creer</a></li>
        </ul>
    </nav>
</header>

<main class="center-main">
    <h1 class="center-section">Voici la bibliothèque des films de ENI Ecole</h1>
</main>


</body>
</html>